.futer{
    position: relative;
    top: 768px;
    background-color: #343434;
    margin-bottom: 50px;
  
}
.logfuter{
    position: relative;
    left: 1179px;

}

.footer{
    margin-bottom: 25px;
}