.futer{
    position: relative;
    top: 768px;
    background-color: #343434;
    margin-bottom: 51px;
  
}
.logfuter{
    position: relative;
    left: 1179px;

}

.footer{
    margin-bottom: 25px;
}

.futer>p{
    position: relative;
    left: 101px;
    top: 33px;
    color: white;
}


