.boxini>h2{
    position: relative;
    font-size: 48px;
    color: white;
    top: 124px;
    left: 101px;
    width: 554px;
    height: 115px;
}

.boxini>p{
    position: relative;
    top: 99px;
    left: 101px;
    width: 343px;
    height: 42px;
    font-size: 16px;
    color: white;
}

.btnread{
    border-radius: 25px;
    left: 100px;
    width: 144px;
    height: 48px;
    text-align: center;
    color: #FFFFFF;
    background-color: #E0752F;
    opacity: 1;
    font-size: 16px;
    position: relative;
    top: 120px;
}